.header-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-right{
    display: flex;
    align-items: center;
}

.navbar-container{
    
    ul{
        display: flex;
        list-style: none;
    }
    a{
        text-decoration: none; 
        color: grey;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.avatar-container{
    padding-left: 20px;
    img{
        width: 50px;
    }
}

.grey-line{
    width: 100%;
    height: 2px;
    background-color: lightgrey;
    margin-bottom: 5%;
    margin-top: 3%;
}

/*----------------------------------------*/

.cart-logo{
    padding-left: 20px;
    padding-right: 20px;
    img{
        width: 20px;
    }
}

.dropdown-cart--active{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 10px;
    top: 90px;
    width: 130px;
    z-index: 3;
    padding: 2%;
    a{
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 20px;
    }
    animation: scale-in-center 0.3s ease-in-out both;
}

.dropdown-cart--inactive{
    display: none;
}

/*----------------------------------------*/

.burger-icon{
    display: contents;
    cursor: pointer;
    position: fixed;

    img{
        width: 20px;
        margin: 20px;
    }

    &:hover{
       transform: scale(1.2);
    } 
}

.nav-link-btn{
    p{
        margin-top: 25px;
        margin-bottom: 15px;   
    }
    
}

.dropdown-menu--active{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 10px;
    top: 90px;
    width: 130px;
    z-index: 3;
    padding: 2%;
    a{
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 20px;
    }
    animation: scale-in-center 0.3s ease-in-out both;
}

@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
      -webkit-filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
      -webkit-filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform-origin: 50% 0%;
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
      filter: blur(0px);
      opacity: 1;
    }
  }

.nav-items{
    display: flex;
    font-weight: 600;
    
    a{
        text-decoration: none;
        color: black;
        p{
            padding-left: 30px;
            padding-right: 30px;
            font-size: 18px;
        }
    }
}

.nav-link-btn:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.dropdown-menu--inactive{
    display: none;
}

@media screen and (min-width: 768px){ 

    .burger-menu{
        display: none;
    }
}

@media screen and (max-width: 768px){ 

    .navbar-container{
        display: none;
    }
}